@font-face {
  font-family: "WorkSans"; /*Can be any text*/
  src: local("WorkSans"),
    url("./assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
}

:root {
  --white: hsl(0, 0%, 100%);
  --lightPink: hsl(275, 100%, 97%);
  --grayishPurple: hsl(292, 16%, 49%);
  --darkPurple: hsl(292, 42%, 14%);
  --hoverPurple: #ad28eb;
  --weightBold: 700;
  --weightRegular: 400;
  --weightSemiBold: 600;
}

.faqAccordionSection {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/images/background-pattern-desktop.svg");
  font-family: "WorkSans";
  position: relative;
}

.faqAccordion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--white);
  width: 40vw;
  padding: 2em;
  border-radius: 15px;
  z-index: 2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.title {
  display: flex;
  align-items: center;
}

.questionTitle {
  font-size: 16px;
  text-align: left;
  font-weight: var(--weightSemiBold);
}

.questionText {
  font-size: 16px;
  text-align: left;
  color: var(--grayishPurple);
  font-weight: var(--weightRegular);
}

.questionHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--darkPurple);
  cursor: pointer;
}

.questionHeader:hover {
  color: var(--hoverPurple);
}

.faqTitle {
  color: var(--darkPurple);
  font-weight: var(--weightBold);
  font-size: 60px;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  margin-left: 0.25em;
}

.greyBackground {
  width: 100%;
  height: 60vh;
  background-color: var(--lightPink);
  position: absolute;
  bottom: 0;
  z-index: 1;
}
