@font-face {
  font-family: "Poppins_400Regular"; /*Can be any text*/
  src: local("Poppins-Regular"),
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins_700Bold"; /*Can be any text*/
  src: local("Poppins-Bold"),
    url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins_800ExtraBold"; /*Can be any text*/
  src: local("Poppins-ExtraBold"),
    url("./assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins_800ExtraBoldI"; /*Can be any text*/
  src: local("Poppins-ExtraBoldItalic"),
    url("./assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
}

:root {
  --white: hsl(0, 0%, 100%);
  --offWhite: hsl(0, 0%, 94%);
  --lightgrey: hsl(0, 0%, 86%);
  --smokeyGrey: hsl(0, 1%, 44%);
  --offBlack: hsl(0, 0%, 8%);
  --purple: hsl(259, 100%, 65%);
  --lightRed: hsl(0, 100%, 67%);
}

.AgeCalculatorSection {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightgrey);
}

.AgeCalculatorCard {
  background-color: var(--white);
  text-align: start;
  width: fit-content;
  padding: 2em;
  border-radius: 20px 20px 150px 20px;
}

.line {
  width: 40vw;
  height: 1.5px;
  background-color: var(--lightgrey);
}

.validation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ArrowButton {
  height: 6em;
  width: 6em;
  border-radius: 100%;
  border: none;
  background-color: var(--purple);
  cursor: pointer;
  transition-duration: 0.3s;
}

.ArrowButton:hover {
  background-color: var(--offBlack);
}

.AgeCalculatorformText {
  display: flex;
  flex-direction: column;
  width: 120px;
  margin-right: 2em;
}

.AgeCalculatorformText > label {
  color: var(--offBlack);
  text-transform: uppercase;
  font-family: "Poppins_700Bold";
  font-size: 14px;
  color: var(--smokeyGrey);
}

.AgeCalculatorformText > input {
  height: 35px;
  padding: 14px 20px;
  font-size: 28px;
  font-family: "Poppins_700Bold";
  border-radius: 10px;
  border: 1px solid var(--lightgrey);
  color: var(--smokeyGrey);
  margin-top: 0.2em;
}

.AgeCalculatorformText > input:target-within {
  border-color: red;
}

.AgeForm {
  display: flex;
}

.AgeCalculatorResult > h1 {
  font-family: "Poppins_800ExtraBoldI";
  font-size: 55px;
  color: var(--offBlack);
}

.AgeCalculatorResult > h1 > em {
  font-style: normal;
  color: var(--purple);
}
