:root {
  --clr-primary-100: hsl(39, 100%, 56%);
  --clr-primary-200: hsl(0, 100%, 67%);
  --clr-primary-300: hsl(166, 100%, 37%);
  --clr-primary-400: hsl(234, 85%, 45%);

  --bg-opacity: 0.1;
  --clr-bg-100: hsla(39, 100%, 56%, var(--bg-opacity));
  --clr-bg-200: hsla(0, 100%, 67%, var(--bg-opacity));
  --clr-bg-300: hsla(166, 100%, 37%, var(--bg-opacity));
  --clr-bg-400: hsla(234, 85%, 45%, var(--bg-opacity));

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(221, 100%, 96%);
  --clr-neutral-300: hsl(241, 100%, 89%);
  --clr-neutral-300-op: hsla(241, 100%, 89%, 0.5);
  --clr-neutral-400: hsl(224, 30%, 27%);
  --clr-neutral-400-op: hsl(224, 30%, 27%, 0.5);

  --clr-gradient-bg-100: hsl(252, 100%, 67%);
  --clr-gradient-bg-400: hsl(241, 81%, 54%);
  --clr-gradient-circle-100: hsla(256, 72%, 46%, 1);
  --clr-gradient-circle-400: hsla(241, 72%, 46%, 0);

  --ff-primary: "Hanken Grotesk", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extrabold: 800;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-625: 1.1rem;
  --fs-650: 1.25rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-h1: var(--fs-625);
  --fs-h2: var(--fs-500);
  --fs-h3: var(--fs-400);
  --fs-button: var(--fs-600);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */

.attribution {
  position: relative;
  bottom: 0;
}

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
}

.component {
  display: flex;
  flex-direction: column;
}

@media (min-width: 50em) {
  .component {
    flex-direction: row;
    width: 50em;
    margin-inline: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    box-shadow: 0 0 20px 1px var(--clr-neutral-400-op);
    border-radius: var(--size-500);
  }
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-400);
}

@media (min-width: 50em) {
  h1 {
    font-size: var(--fs-650);
  }
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-extrabold);
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

/* score */

.score {
  padding: var(--size-600);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-400);
  border-radius: 0 0 var(--size-500) var(--size-500);
}

.score-circle {
  display: flex;
  width: fit-content;
  aspect-ratio: 1 / 1;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to bottom,
    var(--clr-gradient-circle-100),
    var(--clr-gradient-circle-400)
  );
  padding: var(--size-600);
  border-radius: 100%;
}

.score-number {
  font-weight: var(--fw-bold);
  font-size: var(--fs-900);
  color: var(--clr-neutral-100);
  line-height: 1.1;
}

@media (min-width: 50em) {
  .score {
    border-radius: var(--size-500);
    width: 50%;
    gap: var(--size-600);
  }

  .score-number {
    font-size: 4rem;
  }
}

.score-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-200);
  width: 65%;
}

.score-text h2 {
  font-weight: var(--fw-extrabold);
  font-size: var(--fs-650);
  color: var(--clr-neutral-100);
}

/* summary */

.summary {
  display: grid;
  gap: var(--size-500);
  padding: var(--size-500);
}

@media (min-width: 50em) {
  .summary {
    width: 50%;
    padding: var(--size-700);
  }
}

.summary-result-group {
  display: grid;
  gap: var(--size-400);
}

.summary-result {
  display: flex;
  justify-content: space-between;
  padding: var(--size-300);
  border-radius: var(--size-200);
}

.summary-result p {
  font-size: var(--fs-600);
  font-weight: var(--fw-extrabold);
  color: var(--clr-neutral-400);
}

.summary-result p em {
  color: var(--clr-neutral-400-op);
}

.category {
  display: flex;
  gap: var(--size-300);
}

/* button */

.button {
  cursor: pointer;
  padding: var(--size-300) var(--size-900);
  font-size: var(--fs-button);
  color: var(--clr-neutral-100);
  border: none;
  border-radius: 100vw;
  background: var(--clr-neutral-400);
}

.button:hover,
.button:focus {
  background: linear-gradient(
    to bottom,
    var(--clr-gradient-bg-100),
    var(--clr-gradient-bg-400)
  );
}

/* Utility classes */

.bg-gradient {
  background: linear-gradient(
    to bottom,
    var(--clr-gradient-bg-100),
    var(--clr-gradient-bg-400)
  );
}

.bg-primary-100 {
  background-color: var(--clr-bg-100);
}

.bg-primary-200 {
  background-color: var(--clr-bg-200);
}

.bg-primary-300 {
  background-color: var(--clr-bg-300);
}

.bg-primary-400 {
  background-color: var(--clr-bg-400);
}

.text-primary-100 {
  color: var(--clr-primary-100);
}

.text-primary-200 {
  color: var(--clr-primary-200);
}

.text-primary-300 {
  color: var(--clr-primary-300);
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-200 {
  color: var(--clr-neutral-200);
}

.text-neutral-300 {
  color: var(--clr-neutral-300);
}

.text-neutral-300-op {
  color: var(--clr-neutral-300-op);
}

.text-neutral-400 {
  color: var(--clr-neutral-400);
}

.text-center {
  text-align: center;
}
